.flex-layout {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.clear-fix:after {
  content: ".";
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
}

.clear-fix {
  zoom: 1;
}

button::after {
  border: none;
}

button {
  background-color: #fff;
  border-radius: 0;
  padding: 0;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.line-clamp-1 {
  -webkit-line-clamp: 1
}

.line-clamp-2 {
  -webkit-line-clamp: 2
}

.line-clamp-3 {
  -webkit-line-clamp: 3
}

/*隐藏滚动条*/
// ::-webkit-scrollbar {
//   width: 0;
//   height: 0;
//   color: transparent;
// }
